:root {
  --bs-color-primary: #483698;
  --bs-color-btnYellow: #FBDE40;
  --bs-color-btnYellowHover: #FFE766;
  --bs-font-title-button: 'Comfortaa', sans-serif;
  --bs-font-default: 'Open Sans', sans-serif;
}

body {

    font-family: var(--bs-font-default);
    background-color: var(--bs-color-btnYellowHover);

}

.container {

  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;

}

.main-container {
  
  width: 80%;
  background-color: #fff;
  border-radius: 1.5rem;
  /* padding: 5% 9% 5% 9%; */
  
}

@media (max-width: 375px) {

    body {

        overflow-x: hidden;

    }

    .container {

        padding: 0;
        margin: 0;

    }

    .main-container {
        
        width: 100%;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: 50px;
                
    }

    .form-main {
        
        width: 100%;
        padding: 35px 5px 35px 5px;
        
    }

    .p-5 {

        padding: 0.5rem !important;

    }

    .btn-back {

        position: absolute;
        cursor: pointer;
        left: 7%;
        top: 5px;
        display: block;
  
    }

    .btn-back a {

        text-decoration: none;
        color: var(--bs-color-primary);
    
    }

    .img, .img-fluid {

        display: none;

    }

    .inputCity, .inputState {
        max-width: 130px;
    }

}

h1, h2, a {

    font-family: var(--bs-font-title-button);
    font-weight: bold;
    color: var(--bs-color-primary);

}

h4, h5, h6 {

    font-family: var(--bs-font-default);

}


.btn-primary {

    width: 95%;
    background-color: var(--bs-color-primary);
    font-family: var(--bs-font-title-button);
    border-style: none;
    border-radius: 12px;

}

.btn-yellow {

  width: 95%;
  background-color: var(--bs-color-btnYellow);
  font-family: var(--bs-font-title-button);
  border-style: none;
  border-radius: 12px;
  color: var(--bs-color-primary);
}

.btn-yellow:hover {

  background-color: var(--bs-color-btnYellowHover);

}

#progress-bar {

    background-color: var(--bs-color-primary);
    text-align: center;

}

.num-pagina-progress {

    position: relative;
    font-family: var(--bs-font-title-button);
    font-weight: bold;
    color: var(--bs-color-primary);
    left: 75%;
    top: 30px;
    
}

#cpf, #numero, #valor-consulta {

    width: 75%;
}

.row-select {

    display: flex;
    justify-content: space-between;

}

.inputCity, .inputState {
    width: 170px;
}

.bg-main {

    background-color: var(--bs-color-primary);
    color: #fff;

}

.form-check-input:checked {
    background-color: var(--bs-color-primary);
    border-color: transparent;
}

.ms-6 {
    margin-left: 4rem !important;
}

.align-items-center {

    display: flex;
    align-items: center;

}


/* bootstrap 4.6 */


.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }
  
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
  }
  
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
  }
  
  .breadcrumb-item.active {
    color: #6c757d;
  }





